# classify reviews

This notebook describes the binary classification of Yelp hotel reviews on whether or not they are dog related.

In [1]:
import numpy as np
from time import time
import matplotlib.pyplot as plt

from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.linear_model import RidgeClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestCentroid
from sklearn.utils.extmath import density
from sklearn import metrics

import pandas as pd
import connect_aws_db as cadb

In [2]:
%matplotlib inline

### Connect to DB

In [3]:
engine = cadb.connect_aws_db(write_unicode=True)

### Restore BF Reviews

In [4]:
cmd = "SELECT review_rating, review_text FROM bf_reviews"

In [5]:
bfdf = pd.read_sql_query(cmd, engine)

In [6]:
print(len(bfdf))
bfdf.head(5)

2779

   review_rating                                        review_text
0              2  When you first go to your room you notice the ...
1              2  We were going to the Pre-Westminster event tha...
2              2  While the room was not the fanciest that one c...
3              1  I stayed at the Hotel Penn in Manhattan becaus...
4              5  We loved this hotel! The are very friendly and...

### Restore Yelp Reviews

In [7]:
cmd = "SELECT review_rating, review_text FROM yelp_reviews"

In [8]:
yelpdf = pd.read_sql_query(cmd, engine)

In [9]:
print(len(yelpdf))
yelpdf.head(5)

6263

   review_rating                                        review_text
0              4  I stayed at the hotel for several months durin...
1              5  I have been coming to Pittsburgh for quite a w...
2              4  This is a very good hotel and with a corporate...
3              4  i got upgraded to a junior suite, and then aga...
4              5  This is a fantastic hotel.  I went to a conven...