# create_ta_db_tables

a notebook to create the database tables for the ta data.

In [1]:
import connect_aws_db as cadb

In [2]:
engine = cadb.connect_aws_db(write_unicode=True)

In [3]:
conn = engine.connect()

### create the hotels table

In [4]:
# cmd = "DROP TABLE ta_hotels"
# result = conn.execute(cmd)

In [4]:
cmd = """
        CREATE TABLE ta_hotels
        (
        hotel_id MEDIUMINT AUTO_INCREMENT,
        hotel_url VARCHAR(512),
        hotel_img_url VARCHAR(512),
        hotel_name VARCHAR(512),
        hotel_address VARCHAR(1024),
        hotel_city VARCHAR(512),
        hotel_state VARCHAR(32),
        hotel_rating INT(11),
        hotel_latitude FLOAT,
        hotel_longitude FLOAT,
        hotel_price FLOAT,
        business_id VARCHAR(256),
        review_count INT,
        dog_review_count INT,
        PRIMARY KEY (hotel_id)
        )
        """

In [5]:
conn.execute(cmd)