# test_splinter_scrape_ta_reviews

In [1]:
from splinter.browser import Browser
import connect_aws_db as cadb
from splinter_scrape_ta_reviews import get_hotel_urls
from splinter_scrape_ta_reviews import scrape_hotel

In [2]:
%load_ext autoreload

In [3]:
%autoreload 2

In [4]:
import sys  
reload(sys)  
sys.setdefaultencoding('utf8')

In [5]:
city = 'new_haven'
state = 'ct'

In [6]:
engine = cadb.connect_aws_db(write_unicode=True)

In [11]:
blinks = get_hotel_urls(city, state, engine)

In [8]:
br = Browser()

In [13]:
for hotel_id, biz_id, link in blinks:
    print(hotel_id, biz_id, link)

In [14]:
blinks[0][1]

u'http://www.tripadvisor.com/Hotel_Review-g33851-d1217689-Reviews-The_Study_at_Yale-New_Haven_Connecticut.html'

In [24]:
bigdf = scrape_hotel(blinks[0][1], br, engine)

In [25]:
len(bigdf)

568

In [31]:
bigdf['business_id'] = blinks[0][0]

In [32]:
# drop the hotel_name column (this column does not exist in future versions):
bigdf.drop('hotel_name', axis=1, inplace=True)

In [34]:
bigdf.to_sql('ta_reviews', engine, if_exists='append', index=False)

In [30]:
bigdf.head(5)

,review_id,hotel_id,hotel_name,business_id,biz_review_id,biz_member_id,username,review_title,review_rating,review_text,review_date
0,NaN,NaN,NaN,NaN,310458194,87C5888145EC92BDB0F72C18EB08CAEB,PhilipNewJersey,Excellent property,5,Right down the street from the Yale campus and...,"September 15, 2015"
1,NaN,NaN,NaN,NaN,309709618,373F7ED4C06E86BE735B38FE3C5FBAE8,Gloria J,Best Place to Stay at New Haven,4,"We've stayed at a few places at New Haven, and...","September 13, 2015"
2,NaN,NaN,NaN,NaN,308615033,3846E72EAB7732919C9B65F05D9CBBE1,ILphotomom,really enjoyed my stay,5,I was visiting New Haven for work and had the ...,"September 9, 2015"
3,NaN,NaN,NaN,NaN,306265572,8868FE2D7F3A2A3E6CBDD949C6B99520,donaldk184,The Study Rocks!,5,The best place to stay in New Haven. Great roo...,"September 2, 2015"
4,NaN,NaN,NaN,NaN,305217155,10182DEB7032B071483618C256BD0261,jksingapore,Truly wonderful hotel!,5,We had a fabulous experience staying at the St...,"August 31, 2015"