# yelp_reviews

a notebook that adds yelp hotel reviews to the AWS RDS MySQL DB

In [1]:
import pandas as pd
import json
import sqlalchemy
import connect_aws_db as cadb

In [3]:
data = []
with open('../../data/yelp_academic_dataset_review.json') as the_dat:
    for line in the_dat:
        data.append(json.loads(line))

In [3]:
data[0]

{u'business_id': u'vcNAWiLM4dR7D2nwwJ7nCA',
 u'date': u'2007-05-17',
 u'review_id': u'15SdjuK7DmYqUAj6rjGowg',
 u'stars': 5,
 u'text': u"dr. goldberg offers everything i look for in a general practitioner.  he's nice and easy to talk to without being patronizing; he's always on time in seeing his patients; he's affiliated with a top-notch hospital (nyu) which my parents have explained to me is very important in case something happens and you need surgery; and you can get referrals to see specialists without having to see him first.  really, what more do you need?  i'm sitting here trying to think of any complaints i have about him, but i'm really drawing a blank.",
 u'type': u'review',
 u'user_id': u'Xqd0DzHaiyRqVH3WRG7hzg',
 u'votes': {u'cool': 1, u'funny': 0, u'useful': 2}}

In [4]:
df = pd.io.json.json_normalize(data)

In [5]:
for col in df.columns:
    print(col)

business_id
date
review_id
stars
text
type
user_id
votes.cool
votes.funny
votes.useful

In [6]:
df.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes.cool,votes.funny,votes.useful
0,vcNAWiLM4dR7D2nwwJ7nCA,2007-05-17,15SdjuK7DmYqUAj6rjGowg,5,dr. goldberg offers everything i look for in a...,review,Xqd0DzHaiyRqVH3WRG7hzg,1,0,2
1,vcNAWiLM4dR7D2nwwJ7nCA,2010-03-22,RF6UnRTtG7tWMcrO2GEoAg,2,"Unfortunately, the frustration of being Dr. Go...",review,H1kH6QZV7Le4zqTRNxoZow,0,0,2
2,vcNAWiLM4dR7D2nwwJ7nCA,2012-02-14,-TsVN230RCkLYKBeLsuz7A,4,Dr. Goldberg has been my doctor for years and ...,review,zvJCcrpm2yOZrxKffwGQLA,1,0,1

In [9]:
len(df)

1569264

In [10]:
engine = cadb.connect_aws_db()

In [11]:
conn = engine.connect()

In [12]:
cmd = "SELECT DISTINCT business_id FROM yelp_hotels"

In [24]:
hotel_biz_ids = conn.execute(cmd).fetchall()

In [26]:
len(hotel_biz_ids)

128